.services {
	height: 623px;
	background: url('../img/bg/services_bg.png') center (center/cover) no-repeat;
	background-color: $col-bg;
	padding: 10px;
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		width: 280px;
		height: 180px;
		border: 1px solid $col1;
		border-radius: 10px;
	}
}